/* *{
}
#pai{
    font-size: 16px;
    background-color: aquamarine;
    width: 500px;
    height: 500px;
}
p{
    background-color: blueviolet;
    width: 50vw;
    height: 50vh;
} */
img{
    width: 200px;
    height: 200px;
}
#imagem1{
    float: left;
}
#imagem2{
    float: right;
}
#paragrafo1{
    clear: none;
}