@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
body{
    font-size: 1rem;
    font-family: Roboto Mono;
    background-color: #b3e9f3;
}
h1{
    background-color:  #6590d1;
    text-shadow: 3px 3px #48789f;
}
img{
    height: 300px;
    width: 500px;
}
