 @import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&family=Roboto+Mono:wght@700&display=swap');
 body{
    background-color:  #eefaa8;
    font-family: 'Rajdhani', sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
 }
 header{
    background-color: #649ea7;
    text-align: center;
    border: 1px solid #000000;
 }
 table{
    border: 1px solid #000000;
 }
 th{
    color: #8fbfb9;
    font-weight: bold;
 }
